
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
h1 {
}
h2 {
    font-weight: 200;
    color: green;
    margin: 0;
    text-align: center;
}
div {
}

#page{
    width: 100%;
    height: 2000px;
}
#web_header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(206, 206, 206)
}
#name {
}
#date{
}
#money{
}

.container{
}
.sub_header{

}
.button {
    border-color: lightgoldenrodyellow;
    background-color: lightblue;
}
.expenseTable {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}