
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
h1 {
}
h2 {
    font-weight: 200;
    color: green;
    margin: 0;
    text-align: center;
}
div {
}

#page{
    width: 100%;
    height: 100vw;
}
#web_header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(206, 206, 206)
}
#sub_header{

}
#id input{
    
}
.wrapper{
    
}
.container_flexbox{
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10% 15px 10%;
}
.flexbox_item{
    background-color: darksalmon;
    padding: 10px;
}

.button {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expense_table {
    display: grid;
}

.table_row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.table_row .header{
    background-color: rgb(214, 162, 94);
}
.table_row .content {
    background-color: rgb(223, 200, 170);
}

.table_cell {
    border: 1px solid black;
    background-color: lightcoral;
    margin:  10px;
    justify-content: center;
    align-items: center;
}
